:root {
    --main-color: #4593a1;
    --main-light-color:#5bb2c1;
    --main-progress-color: lightgrey;
    --progress-bar-width:0%;
}
.breadcrum-header{
    text-align: center;
    display:flex;
    margin-bottom: 1em;
    position:relative;
}
.breadcrum-content{
    color:inherit;
}
.breadcrum-content-footer{
    margin-top: 1em;
}
.breadcrum-tab-link{
    border-radius: 50%;
    margin: auto;
    display: inline-block;
    border: solid 2px var(--main-progress-color);
    width:3em;
    background-color: white;
    color:#363636;
    height:3em;
    transition: all 0.15s ease-in-out;
    position: relative;

}

.breadcrum-tab-link:hover{
    cursor:pointer;
}

.breadcrum-link-seen{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color:white;
}

.breadcrum-link-active{
    color: white;
    background-color: var(--main-light-color);
    border-color: var(--main-light-color);
    box-shadow: 0 0 10px grey;
}

.breadcrum-tab-link-inner-container{
    width:100%;
    height:100%;
    display: flex;
    position: relative;
}

.breadcrum-tab-link-inner-container span{
    margin:auto;
}

.breadcrum-content-hidden{
    display:none;
}

.link-temp-grey-circle{
    content: '';
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: white;
    animation: 0.2s linear circle-anim;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}

.breadcrum-content-footer{
    padding-right:10%;
    padding-left:10%;
}

.button-next-container, .button-previous-container{
    display:inline-block;
}

.breadcrum-button{
    font-size: inherit;
    display:inline-block;
    color: var(--main-color);
    border-radius: 5px;
    border:solid 1px var(--main-color);
    margin:0.2em;
    padding:0.3em 0.8em 0.3em 0.8em;
    transition: all 0.15s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.breadcrum-button:hover{
    cursor:pointer;
    background-color: var(--main-light-color);
    color: white;
    border-color: var(--main-light-color);
}

.button-next-container{
    float:right;
}

.breadcrum-submit-button{
    background-color: var(--main-color);
    color:white;
}

.breadcrum-submit-button:hover{
    border:solid 1px var(--main-light-color);
    background-color: var(--main-light-color);
}

.submit-btn-disabled{
    background-color: grey;
    border-color: grey;
    opacity: 0.3;
}
.submit-btn-disabled:hover{
    border-color: grey;
    background-color: grey;
    cursor:default;
}

.dummy-btn{
    margin:0.2em;
    padding:0.3em 0.8em 0.3em 0.8em;
    display: inline-block;
    opacity: 0;
    border:solid 1px transparent;
}

.dummy-btn:hover{
    cursor:default;
}

.breadcrum-header-progress-bar{
    top:45%;
    margin-left:0.3%;
    height:0.2em;
    position: absolute;
}
.breadcrum-header-progress-bar-base{
    width:99%;
    border: solid 1px var(--main-progress-color);
    background-color: transparent;
}
.breadcrum-header-progress-bar-active{
    transition: all 0.3s ease-in-out;
    width: var(--progress-bar-width);
    border: solid 1px var(--main-color);
    background-color: var(--main-color);
}

@keyframes circle-anim {
    from{
        transform: scale(0);
        opacity: 0.7;
    }
    to{
        transform: scale(1);
        opacity: 0;
    }
}
